
.vs/
ThermAlarmSln/.vs/ThermAlarm/v15/Server/sqlite3/storage.ide-wal
ThermAlarmSln/.vs/ThermAlarm/v15/Server/sqlite3/storage.ide-shm
ThermAlarmSln/.vs/ThermAlarm/v15/Server/sqlite3/storage.ide
ThermAlarmSln/.vs/ThermAlarm/v15/.suo
ThermAlarmSln/.vs/ThermAlarm/DesignTimeBuild/.dtbcache
