@{
    ViewData["Title"] = "About ThermAlarm";
}
<h2>@ViewData["Title"]</h2>
<p>
    ThermAlarm is a smart home alarm system, which raises an alert when a warm body, without a known BT id, enters the house.
</p>
<p>
    The vision is to make the Alarm more reliable and independent.
    Those 2 properties are very significant when it comes to real-time system, especially in the security field.
</p>
<p>
    As most home alarms there are 3 states:
    <ol>
        <li><b>Disarm</b> - The system is neutralized and will not raise alerts.</li>
        <li><b>Arm</b> - The system is attentive and will raise an alert if needed. It processes and logs data in real-time.</li>
        <li><b>Alarm</b> - The system is Alarmed. A buzzer or  a led will be activated.</li>
    </ol>
</p>
<h3>What makes the system smart?</h3>
<p>
    <ul>
        <li>ThermAlarm relies on both a simple <b>PIR sensor and a Thermal Camera sensor</b>. This allows us to make a better assessment if a warm body entered the house. This feature will <b>reduce the false-positive alerts</b>, and increase the reliability on the system.</li>
        <li>ThermAlarm uses a <b>BT chip to allow family members to enter their armed house</b> without raising the Alarm and waking other family members from their good night sleep.</li>
    </ul>
</p>
