@using ThermAlarm.Common
@model Person
@{
    ViewData["Title"] = "Add Person";
}
<h2>@ViewData["Title"]</h2>

<div id="addPersonForm">
    <form method="post">
        <label asp-for="firstName">First Name:</label>
        <br />
        <input asp-for="firstName" />
        <br />
        <label asp-for="lastName">Last Name:</label>
        <br />
        <input asp-for="lastName" />
        <br />
        <label asp-for="email">Email Name:</label>
        <br />
        <input asp-for="email" />
        <br />
        <label asp-for="BTid">BT id:</label>
        <br />
        <input asp-for="BTid" />
        <br />
        <br />
        <input type="submit" name="Add Member" value="AddMember" />
        <br />
        <label id="memberAdded"><font color="green"> @TempData["MemberAdded"]</font></label>
    </form>
</div>


