@{
    ViewData["Title"] = "Home Page";
    ViewData["IndexColor"] = "green";
}


    <h1> Alarm main page!</h1>
    <div id="interface">
        <button id="ArmBtn" class="btn btn-success">Arm</button>

        <button id="DisarmBtn" class="btn btn-success">Disarm</button>

        <label id="Alarm">Alarm</label>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>
    $('#ArmBtn').click(function () { document.location = '@Url.Action("Arm","Home")'; });
        </script>
        <script>
    $('#DisarmBtn').click(function () { document.location = '@Url.Action("Disarm","Home")'; });
        </script>
    </div>


